$circle-size: 17vw;
$max-dimension: 130px;

* {
    font-family: 'Open Sans', sans-serif;
}

.flex-container {
    display: flex;
}

.flexbox-center {
    flex: 1 1 20em;
}

.flexbox-padding {
    flex: 3 3 3em;
}

.header {
    text-align: center;
    margin-top: 20px;
    font-size: calc(80px + 0.05vh);
}

.game-rules {
    text-align: center;
    font-size: calc(33px + 0.1vh);
    color: lightslategray;
    margin: 10px 30px 30px 30px;
}

.filled-circle {
    width: $circle-size;
    height: $circle-size;
    border-radius: 50%;
}

.red-filled-circle {
    @extend .filled-circle;
    background-color: #f5200e;
}

.blue-filled-circle {
    @extend .filled-circle;
    background-color: RoyalBlue;
}

.column {
    width: $circle-size;
    text-align: center;
    max-width: $max-dimension;
    padding-left: 1px;
}

.row {
    height: $circle-size;
    outline: 1px solid LightGray;
    max-height: $max-dimension;
    max-width: $max-dimension;
    margin-top: 1px;
}

.hidden-button {
    display: none;
}

.button-wrapper {
    text-align: center;
}

.text-button {
    margin: 30px;
    background: RoyalBlue;
    color: white;
    height: 80px;
    width: 45vw;
    max-width: 400px;
    font-size: 40px;
    border: 2px solid RoyalBlue;
    border-radius: 4px;
}

.game-alert-text {
    margin-top: 0.8rem;
    font-size: calc(33px + 0.1vh);
}