.flex-container {
    display: flex;
}

.filled-circle {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
}

.red-filled-circle {
    @extend .filled-circle;
    border: 1px solid red;
    background-color: red;
}

.blue-filled-circle {
    @extend .filled-circle;
    border: 1px solid blue;
    background-color: blue;
}

.column {
    width: 15vw;
    text-align: center;
}

.row {
    height: 15vw;
    outline: 1px solid gray;
}

.hidden-button {
    display: none;
}