.flex-container {
    display: flex;
}

.red-filled-circle {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: 1px solid red;
    background-color: red;
}

.column {
    width: 15vw;
    text-align: center;
}

.row {
    height: 15vw;
    outline: 1px solid gray;
}