$circle-size: 17vw;
$max-dimension: 130px;

* {
    font-family: 'Open Sans', sans-serif;
}

.flex-container {
    display: flex;
}

.flexbox-center {
    flex: 1 1 20em;
}

.flexbox-padding {
    flex: 2 2 5em;
}

.header {
    text-align: center;
    margin: 1.5rem;
    font-size: 1.9rem;
}

.game-rules {
    text-align: center;
    font-size: 0.95rem;
    color: lightslategray;
    margin: 1.5rem;
}

.footer {
    color: lightgray;
    position: absolute;
    bottom: 0.3rem;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.filled-circle {
    width: $circle-size;
    height: $circle-size;
    border-radius: 50%;
}

.red-filled-circle {
    @extend .filled-circle;
    background-color: #f5200e;
}

.blue-filled-circle {
    @extend .filled-circle;
    background-color: RoyalBlue;
}

.column {
    width: $circle-size;
    text-align: center;
    max-width: $max-dimension;
    padding-left: 1px;
}

.row {
    height: $circle-size;
    outline: 1px solid LightGray;
    max-height: $max-dimension;
    max-width: $max-dimension;
    margin-top: 1px;
}

.hidden-button {
    display: none;
}

.button-wrapper {
    text-align: center;
}

.text-button {
    margin: 0.5rem;
    background: RoyalBlue;
    color: white;
    height: 2rem;
    font-size: 0.95rem;
    border: 2px solid RoyalBlue;
    border-radius: 4px;
}

.game-alert-text {
    margin-top: 0.8rem;
}